*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Pacifico', cursive; 
}

/* navbar */
.nav-menu{
    padding: 25px;
}
.fas{
    color:burlywood;
}
.menu{
    font-size:20px;
    letter-spacing: 1px;
    color: burlywood;
    transition: all .4s;
}

.menu:hover{
    color: coral;
}
.bar1,.bar2,.bar3{
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}
.navbar-toggler{
    outline: none !important;
}
/* end of navbar */

/* Header */
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.63),rgba(0,0,0,0.5)) ,
    url(images/photo1.jpeg)no-repeat center center/cover;
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.heading{
    animation-name:slide;
    animation-duration: 2s;
}
.main{
    animation-name:slide;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes slide{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/* End of header */
/* about */
#about{
    background: black;
    margin-top: 30px;
    color: burlywood;
}
.text{
    font-size: 28px;
}
.about-images{
    position: relative;
}
.about-img{
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
}
.img-1{
    left: 0%;
    top: 0%;
}
.img-2{
    left: 20%;
    top: 20%;
    z-index:10 ;
}
.img-3{
    left: 40%;
    top: 45%;
    z-index: 20;
}
.img-4{
    left: 40%;
    top: 0%;
}
.img-5{
    left: 0%;
    top: 45%;
}
.img-6{
    left: 45%;
    top: 45%;
}
.about-img:hover{
    outline:10px solid burlywood;
    outline-offset: 32px;
    transform: scale(1.5) rotate(10deg);
    z-index: 30;
    opacity: 1;
}
.about-images:hover,.about-img:not(:hover){
    opacity: 0.5;
}
.btn{
    color: burlywood;
    font-weight: bold;
    border: 2px solid rgb(175, 109, 23);
    font-size: 25px;
}
.btn:hover{
    color: coral;
}
/* .hvr-right{
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.5s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0);
    position: relative;
    transition-property: color;
}
.hvr-right:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: burlywood;
    transition-timing-function: ease-out;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
}
.hvr-right:hover,.hvr-right:focus,.hvr-right:active{
    color: black;
}
.hvr-right:hover:before,.hvr-right:focus:before,.hvr-right:active:before{
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transform: scaleX(1);
} */
/* end of us */

/* tab */
.content-4 .nav{
    justify-content: center;
    margin: 5% ;
}
.content-4 .nav-tabs{
    margin: 2px;
    border: none;
    border-bottom: 0px;
    text-align: center;
    cursor:pointer;
    background: black;
}
.content-4 .tab-item{
    text-decoration: none;
    color: burlywood;
}
.content-4 .tab-item i{
    display: block;
    font-size: 45px;
    padding: 6px 27px 0px 27px;
}
.content-4 .tab-item span{
    display: inline-block;
    padding-bottom: 16px;
    width: 100%;
}
.content-4 .tab-item.active{
    color: burlywood;
}
.tab-content{
    margin-bottom:5%;
    transition: all .4s ease;
}
/* end of tab */
/* our */
.our{
    position: relative;
    margin-top: 25px;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: .8; */
}
.bg-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.coffee-card
{
    position: relative;
    box-shadow: 5px 15px 50px burlywood;
    max-width: 420px;
    transition: all .8s;
    overflow: hidden;
    cursor: pointer;
}
.card-header  .title-text{
    color: black;
}
/* .rotate{
    perspective: 100rem;
}
.back{
    position: absolute;
    top: -100px;
    background:white;
    height: 100%;
    width: 100%;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transform: rotateY(180deg);
    transition: top .8s opacity .4s;
}
.text-color{
    color: white;   
}
.back-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: translate(-50%,-50%);
}
.rotate:hover .coffee-card{
    transform: rotateY(180deg);

}
.rotate:hover .back{
    opacity: 1;
    top: 0;
    user-select: auto;
    pointer-events: auto;
}
.back-content .btn{
    color: black;
} */

.text-color{
    color: white;
}

footer{
    background: black;
    padding-top: 2%;
    margin-top: 15px;
    position: relative;
}
.text-center h4{
    color: burlywood;

}
footer span{
    padding: 0.3em 0.7em;
    color: burlywood;
    transition: all .5s ease;

}
footer p{
    color: burlywood;
    font-size: 20px;
}
footer .top a{
    position: absolute;
    right: 2%;
    bottom: 0%;
    top: 78%;
    color: burlywood;
    font-size: 20px;
}
/* end of our */